body{
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
}

#mainNavbar{
    display: flex;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 2em;
}

#logo{
    flex-grow: 9;
}

#logo img{
    max-width: 8em;
}

@media screen and (max-width:640px){
    #logo img{
        max-width: 6em;
    }
}

#acomms_link{
    text-align: center;
    text-decoration: none;
    color: #0065FC;
    flex-grow: 1;
}

#acomms_link:hover{
    color: #0547ac;
}

#activities_link{
    text-align: center;
    text-decoration: none;
    color: #85878a;
    flex-grow: 1;
}

#activities_link:hover{
    color: #414142;
}

#signUp{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #0065FC;
    flex-grow: 1;
}

#signUp:hover{
    color: #0547ac;
}

@media screen and (max-width:640px){
    #mainNavbar{
        flex-wrap: wrap;
        padding: 0;
    }
    #logo {
        width: 50%;
        padding: 0.25em 1em 0.25em 1em;
    }
    #acomms_link{
        width: 50%;
        order: 1;
        padding: 0.25em 0 0.5em 0;
        border-bottom: 3px solid #f2f2f2;
        margin: 0;
        font-size: 14px;
    }
    #acomms_link:hover{
        border-bottom: 3px solid #0065fc;
    }
    #activities_link{
        width: 50%;
        order: 2;
        padding: 0.25em 0 0.5em 0;
        border-bottom: 3px solid #f2f2f2;
        font-size: 14px;
    }
    #activities_link:hover{
        border-bottom: 3px solid #0065fc;
    }
    #signUp{
        width: 30%;
        padding: 0.25em 1em 0.25em 1em;
    } 
}

h1{
    font-size: 1.6em;
}

main{
    padding-left: 2em;
}

@media screen and (max-width:640px){
    main{
        padding-left: 0;
    }
    .head{
        padding-left:1em;
    }
}

#dt{
    font-weight: 300;
}

form{
    margin: 1rem 1rem 1rem 0;
    display: flex;
    align-items: center;
    padding: 0;
    width: 27em;
    border-radius: 7px;
}

.map{
    padding: 12px;
    border-radius: 8px 0 0 8px;
    background-color: #f2f2f2;
    width: 7%;
    height: 1em;
    float: left;
    text-align: center;
    font-size: 1.2em;
}


form input{
    padding: 11px;
    border-top:0.3px solid #f2f2f2 ;
    border-bottom: 0.3px solid #f2f2f2;
    border-left: none;
    border-right: none;
    width: 70%;
    height:1.2em;
    float: left;
    font-weight: bold;
    font-size: 1em;
}


form button{
    width: 23%;
    padding: 11px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #0065FC;
    color: white;
    font-size: 1.2em;
    float: left;
    cursor: pointer;
    outline: none;
}

.icon{
    display: none;
    font-size: 1.2em;
    padding: 11px;
}

form button:hover{
    background-color: #034bb8;
}

@media screen and (max-width: 1008px) {
    h1{
        font-size: 1.4em;
    }
    form{
        width: 21em;
    }
    .map{
        font-size: 1em;
    }
    form button{
        font-size: 1em;
    }
    form input{
        height: 1em;
    }
}


@media screen and (max-width:640px){
    h1{
        font-size: 1.2em;
    }
    #dt{
        font-size: 0.8em;
    }
    form {
        width: 95%;
        
    }
    .text{
        display: none;
    }
    .icon{
        display:inline-block;
        background: none;
    }
    form button {
        font-size: 0.8em;
        padding: 0;
        border-radius: 10px;
        width: 15%;
    }
}

#filters{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

#filters h3{
    display: inline-block;
    margin-right:0;
    width: 12%;
}

.filterbtn{
    display: inline-block;
    border: 0.5px solid #d3d2d2;
    border-left: none;
    border-radius: 2em;
    padding: 0;
    text-decoration: none;
    transition: ease-out 0.3s;
    margin-right:0.5em;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.filterbtn div{
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-left: 0.5em;
    text-align: center;
    transition: ease-out 0.5s;
    transition-delay: 0.2s;
}

.filterbtn i{
    background-color: #deebff;
    color: #0065FC;
    padding:0.8em;
    border-radius: 2em;
    font-size: 18px;
    transition: ease-out 0.4s;
}

#lc{
    width: 16%;
}

#lc:hover i{
    transform: translateX(5.9em);
    transition: 0.6s;
    transition-delay: 0.1s;
}

#ff{
    width: 22%;
}

#ff:hover i{
    transform: translateX(9.2em);
    transition: 0.6s;
    transition-delay: 0.1s;
}

#rom{
    width: 16%;
}

#rom:hover i{
    transform: translateX(6.2em);
    transition: 0.6s;
    transition-delay: 0.1s;
}

#pa{
    width: 20%;
}

#pa:hover i{
    transform: translateX(8.2em);
    transition: 0.6s;
    transition-delay: 0.1s;
}

.filterbtn:hover div{
    opacity: 0;
    transition: 0.3s;
}

.filterbtn::after {
    position: absolute;
    content: '';
    top:0;
    left:0;
    width: 0;
    height: 100%;
    border-radius: 2em;
    background-color: #deebff;
    transform-origin:left;
    transition:width 0.7s ease;
    z-index:-1;
  }
  
  .filterbtn:hover::after {
    width: 100%;
    border-radius: 2em;
  }

@media screen and (max-width:1400px){
    .filterbtn div{
        font-size: 16px;
    }
    .filterbtn i{
        font-size: 16px;
    }
}

@media screen and (max-width:1180px){
    .filterbtn div{
        font-size: 13px;
    }
    .filterbtn i{
        font-size: 13px;
    }
}

@media screen and (max-width:1008px){
    #filters{
        width: 100%;
    }
}

@media screen and (max-width:640px){
    #filters{
        flex-wrap: wrap;
    }
    #filters h3{
        width: 100%;
    }
    .filterbtn{
        margin-top: 0.5em;
        font-size: 15px;
    }
    #lc{
        width: 45%;
    }
    #rom{
        width: 45%;
    }
    #ff{
        order:1;
        width: 50%;
    }
    #pa{
      order:2;
      width: 55%;
    }
}

.info{
    margin-top: 2em;
    font-weight: 300;
    align-items: center;
}

.info i{
    color: #0065FC;
    border: 0.3px solid #c2c0c0;
    border-radius: 60%;
    padding: 0.3em 0.6em;
    margin-right: 1em;
}

@media screen and (max-width:640px){
    .info{
        font-size: 14px;
    }
    .info i{
        float: left;
    }
}

#acomm_section{
    display: flex;
    justify-content: space-between;
}

#acommodations{
    background-color: #f2f2f2;
    border-radius: 2em;
    padding: 1.8em;
    width: 60%;
    margin: 2em 0 2em 0;
}

#show{
    display: block;
    margin-top: 3em;
    margin-left: 1em;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#mostPop{
    background-color: #f2f2f2;
    border-radius: 2em;
    padding: 2em;
    width: 30%;
    margin: 2em;
}

#mpHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#mpHead i{
    font-size: 28px;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;

}

.accomCard{
    width: 30%;
    height: 250px;
    padding: 0.3em;
    margin-top: 1em;
    border: none;
    border-radius: 2em;
    background-color: white;
    color: black;
    text-decoration: none;
    box-shadow: 5px 5px 5px #c4c2c2;
}

.accomCard img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 2em 2em 0 0;
}

.accomCardInfo h3{
    margin: 0;
}

.accomCardInfo{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5em 0.6em 0.5em 0.5em;
}

.mpCards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mpCard{
    width: 95%;
    height: 180px;
    padding: 0.3em;
    margin: 1em 0.8em;
    border: none;
    border-radius: 2em;
    background-color: white;
    color: black;
    text-decoration: none;
    display: flex;
    box-shadow: 5px 5px 5px #c4c2c2;
}

.mpCard h3{
    margin-top: 0.5em;
}

.mpCard img{
    width: 40%;
    border-radius: 2em 0 0 2em;
    object-fit: cover;
}

.mpCardInfo{
    width: 55%;
    margin: 0em 1em 1em 1em ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.on{
    color: #0065FC;
}

.off{
    color:#f2f2f2;
}

@media screen and (max-width:1008px) and (min-width:641px){
    #acomm_section{
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 1.5em;
    }
    #mostPop{
        order: 1;
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
        padding: 2em 1em 2em 1em;
        border-radius: 1em;
    }
    .mpCards{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .mpCard{
        margin: 0;
        flex-direction: column;
        width: 30%;
        height: 250px;
        border-radius: 1em;
    }
    .mpCard img{
        width: 100%;
        height: 60%;
        border-radius: 1em 1em 0 0;
        object-fit: cover;
    }
    .mpCardInfo{
        width: 100%;
        margin-left: 0.5em;
        margin-bottom: 0.3em;
        height: 100%;
    }
    .mpCardInfo h3{
        font-size: 0.9em;
        margin-top: 0.5em;
        margin-bottom: 0;
    }
    .mpCardInfo div{
        font-size: 0.8em;
    }
    .star{
        font-size: 1em;
    }
    #acommodations{
        order: 2;
        width: 100%;
        box-sizing: border-box;
    }
    .accomCard{
        border-radius: 1em;
    }
    .accomCard img{
        border-radius: 1em 1em 0 0;
    }
    .accomCardInfo h3{
        font-size: 1em;
    }
    .accomCardInfo div{
        font-size: 0.8em;
    }
    #show{
        margin-top: 2em;
    }
}

@media screen and (max-width:640px){
    #acomm_section{
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0;
    }
    #acomm_section h2{
        font-size: 1.2em;
    }
    #mpHead i{
        font-size: 1.4em;
    }
    #mostPop{
        order: 1;
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
        padding: 2em 1em 2em 1em;
        border-radius: 0;
    }
    .mpCards{
        width: 100%;
    }
    .mpCard{
        margin-left: 0;
        width: 95%;
        height: 100px;
        border-radius: 1em;
    }
    .mpCard img{
        border-radius: 1em 0 0 1em;
    }
    .mpCardInfo{
        margin-bottom: 0.2em;
    }
    .mpCardInfo h3{
        font-size: 0.9em;
        margin-top: 0.5em;
        margin-bottom: 0;
    }
    .mpCardInfo div{
        font-size: 0.8em;
    }
    #acommodations{
        order: 2;
        width: 100%;
        box-sizing: border-box;
        background: none;
        padding: 0em 1em 0em 1em;
        margin: 0;
    }
    .cards{
        flex-direction: column;
    }
    .accomCard{
        width: 95%;
        height: 180px;
        border-radius: 1em;
        box-shadow: 5px 5px 5px#f2f2f2;
    }
    .accomCard img{
        border-radius: 1em 1em 0 0;
    }
    .accomCardInfo h3{
        font-size: 1em;
    }
    .accomCardInfo div{
        font-size: 0.9em;
    }
    .star{
        font-size: 0.7em;
    }
    #show{
        margin-top: 2em;
        margin-left: 0.5em;
        font-size: 1em;
    }
}

#activities{
    margin: 2em 0 3em 0;
}

#activCards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 40em;
}

.activCard{
    margin: 2em 2em 0 0;
    width: 22%;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 2em;
    box-shadow: 5px 5px 5px #f2f2f2;
}

.activCard div{
    margin: 1em 0 0 1.5em;
    height: 18px;
}

.tall{
    height: 30em;
}

.tall img{
    width:100%;
    height: 88%;
    border-radius: 2em 2em 0 0;
    object-fit: cover;
}

.medium{
    height: 16em;
}

.medium img{
    width: 100%;
    height: 78%;
    border-radius: 2em 2em 0 0;
    object-fit: cover;
}

.small{
    height: 12em;
}

.small img{
    width: 100%;
    height: 70%;
    border-radius: 2em 2em 0 0;
    object-fit: cover;
}


@media screen and (max-width:1008px) and (min-width:641px){
    #activCards{
        max-height: 20em;
    }
    .activCard{
        width: 20%;
        border-radius: 1em;
    }
    .activCard div{
        margin: 0.5em 0 0 1em;
        width: 80%;
        height: 18px;
        font-size: 0.7em;
    }
    .tall{
        height: 16em;
    }
    .tall img{
        border-radius: 1em 1em 0 0;
        height: 80%;
    }
    .medium{
        height: 8em;
    }
    .medium img{
        border-radius: 1em 1em 0 0;
        height: 70%;
    }
    .small{
        margin: 1.6em 2em 0 0;
        height: 6em;
    }
    .small img{
        border-radius: 1em 1em 0 0;
        height: 62%;
    }
}

@media screen and (max-width:640px){
    #activities{
        margin: 2em 0 2em 0;
        padding: 0 1em 0 1em;
    }
    #activs h2{
        font-size: 1.2em;
        margin-bottom: 0;
    }
    #activCards{
        flex-wrap: nowrap;
        max-height: none;
    }
    .activCard{
        width:95%;
        border-radius: 1em;
    }
    .activCard div{
        margin: 1em 0 0 1em;
        font-size: 0.9em;
    }
    .tall{
        height: 12em;
    }
    .tall img{
        height: 70%;
        border-radius: 1em 1em 0 0;
    }
    .medium{
        height: 12em;
    }
    .medium img{
        height: 70%;
        border-radius: 1em 1em 0 0;
    }
    .small img{
        border-radius: 1em 1em 0 0;
    }
}

footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footsec{
    margin: 0.5em 0.5em 0.5em 2em;
    flex-grow: 4;
}

.footsec a{
    color: black;
    text-decoration: none;
}

.footsec a:hover{
    color: #0065FC;
}

.footsec div, .footsec h4{
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width:640px){
    footer{
        flex-direction: column;
    }
    .footsec{
        margin: 0.7em 1em 0.7em 1em;
    }
    .footsec div, .footsec h4{
        margin-top: 0.8em;
        margin-bottom: 0.8em;
    }
}
